body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 10% 20%;
    grid-template-areas:
        "wrapper wrapper_2 wrapper_3"
        "wrapper wrapper_2  wrapper_3"
        "wrapper wrapper_2  wrapper_3";
    justify-content: space-between;
    gap: 50px;
    margin: 0;

}

.wrapper {
    grid-area: wrapper;
    border: 1px solid black;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 1fr 20%;
    grid-template-areas: "wr_1 wr_1 wr_1"
        "wr_2 wr_2 wr_2""wr_3 wr_3 wr_3";

}

.wr_1 {
    grid-area: wr_1;
    border: 1px solid black;
}

.wr_2 {
    grid-area: wr_2;
    border: 1px solid black;
}

.wr_3 {
    grid-area: wr_3;
    border: 1px solid black;
}

.wrapper_2 {
    grid-area: wrapper_2;
    border: 1px solid black;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 1fr 20%;
    grid-template-areas: "wr_1 wr_1 wr_1"
        "wr_2 wr_2 wr_2""wr_3 wr_3 wr_3";

}

.wrapper_3 {
    grid-area: wrapper_3;
    border: 1px solid black;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 1fr 20%;
    grid-template-areas: "wr_1 wr_1 wr_1"
        "wr_2 wr_2 wr_2""wr_3 wr_3 wr_3";
}